{%  extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
        <h1>Le Quai Antique</h1>
        <p>Votre restaurant Savoyard de référence</p>
</div>
        <main>
          <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="13000">
                      <img class="d-block w-100 rounded" src="{{asset('uploads/IMAG0086-63f9b3704c7c.jpg')}}" alt="Restaurant le Quai Antique">
                      <div class="carouselcaption d-none d-md-block">
                      </div>
                    </div>
                    {% for plat in plats %}
                     {% if plat.DISHESphoto %}
                      <div class="carousel-item" data-bs-interval="13000">
                        <img class="d-block w-100 rounded" src="{{plat.DISHESphoto}}" alt="{{plat.DISHESname}}">
                        <div class="carouselcaption d-none d-md-block description-dish">
                          <h2>{{plat.DISHESname}}</h2>
                          <p>{{plat.DISHESdescription}}</p>
                        </div>
                      </div>
                      
                     {% endif %}
                    {% endfor %}
                </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
            </div>
          </div>
        </main>
{% endblock %}

