{%  extends 'base.html.twig' %}

{% block stylesheet %}
<head>
<link rel="stylesheet" href="{{ asset('styles/plat-style.css') }}">
</head>
{% endblock %}

{% block title "Nos desserts - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <h1>Nos Desserts</h1>
</div>
<main class="container">
    <div class="container">
        <div class="row">
            {% for dessert in desserts %}
            <div class="col-4 text-center">
                <h2>{{ dessert.DISHESname }}</h2>
                    <div>
                        <img class="img-fluid" src="{{asset(dessert.DISHESphoto)}}" alt="{{ dessert.DISHESname }}">
                        <p class="description">{{ dessert.DISHESdescription }}</p>
                        <p class="price">{{ dessert.DISHESprice }} €</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path ('delete-dish', {'id' : dessert.DISHESid}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path ('edit-dish', {'id' : dessert.DISHESid}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}