{%  extends 'base.html.twig' %}

{% block title "Nos spécialités - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <h1>Nos Spécialités</h1>
</div>
<main class="container">
    <div class="container">
        <div class="row">
            {% for specialite in specialites %}
            <div class="col-4 text-center ">
                <h2>{{ specialite.DISHESname }}</h2>
                    <div>
                        <img class="img-fluid" src={{specialite.DISHESphoto}} alt={{specialite.DISHESname}}>
                        <p class="description">{{ specialite.DISHESdescription }}</p>
                        <p class="price">{{ specialite.DISHESprice }} €</p>
                        {% if is_granted('ROLE_ADMIN') %}                      
                        <a href="{{ path ('delete-dish', {'id' : specialite.DISHESid}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path ('edit-dish', {'id' : specialite.DISHESid}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}