{%  extends 'base.html.twig' %}

{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="{{ asset('styles/galerie-style.css') }}">
    </head>
{% endblock %}


{% block title %} "Nos plats"{% endblock %}

{% block body %}
    <main class="container">
        <div class="jumbotron text-center">
                <h1 class="text-center"><img src="{{asset('uploads/Logo_paint.jpg')}}" alt="Restaurant le Quai Antique, logo"> : Nos plats</h1>
        </div>
        <div class="row">   
            {% for plat in plats %}
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="card mb-4 mt-2 text-center">
                                <h2>{{ plat.DISHESname }}</h2>
                                <p>{{ plat.DISHESdescription }}</p>
                                {% if plat.DISHESphoto %}
                                    <div class="text-center">
                                        <img class="mt-3 mb-3" width="50" src="uploads/{{ plat.DISHESphoto }}">
                                    </div>
                                {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                <a href="{{ path ('delete-dish', {'id' : plat.DISHESid}) }}" class="btn btn-danger">Supprimer</a>
                                <a href="{{ path ('edit-dish', {'id' : plat.DISHESid}) }}" class="btn btn-warning">Modifier</a>           
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

