{%  extends 'base.html.twig' %}

{% block stylesheet %}
<head>
<link rel="stylesheet" href="{{ asset('styles/plat-style.css') }}">
</head>
{% endblock %}

{% block title "Nos entrées - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <h1>Nos Entrées</h1>
</div>
<main class="container">
    <div class="container">
        <div class="row">
            {% for entree in entrees %}
            <div class="col-4 text-center ">
                <h2>{{ entree.DISHESname }}</h2>
                    <div>
                      {% if entree.DISHESphoto %}
                        <img class="img-fluid" src="{{asset(entree.DISHESphoto)}}" alt="{{ entree.DISHESname }}">
                      {% endif %}
                        <p class="description">{{ entree.DISHESdescription }}</p>
                        <p class="price">{{ entree.DISHESprice }} €</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path ('delete-dish', {'id' : entree.DISHESid}) }}" class="btn btn-danger">Supprimer</a>"
                        <a href="{{ path ('edit-dish', {'id' : entree.DISHESid}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}