{%  extends 'base.html.twig' %}

{% block stylesheet %}
<head>
<link rel="stylesheet" href="{{ asset('styles/plat-style.css') }}">
</head>
{% endblock %}

{% block title "Nos plats - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <h1>Nos plats</h1>
</div>
<main class="container">
    <div class="container">
        <div class="row">
            {% for plat in plats %}
            <div class="col-4">
                <h2>{{ plat.DISHESname }}</h2>
                    <div>
                        <img class="img-fluid" src="{{plat.DISHESphoto}}" alt="{{plat.DISHESname}}">
                        <p class="description">{{ plat.DISHESdescription }}</p>
                        <p class="price">{{ plat.DISHESprice }} €</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path ('delete-dish', {'id' : plat.DISHESid}) }}" class="btn btn-danger">Supprimer</a>
                        <a href="{{ path ('edit-dish', {'id' : plat.DISHESid}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

