{%  extends 'base.html.twig' %}

{% block title "S'inscrire - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <img class="mt-3" src="{{asset('uploads/Logo_paint.jpg')}}" alt="Restaurant le Quai Antique, logo">
        <h1>S'inscrire</h1>
<p>Afin de pouvoir réserver plus facilement et de nous permettre de connaître à l'avance vos informations de réservations, inscrivez-vous dès à présent</p>
</div>
<div class="container mb-4">
{{ form_start(register_form)}}
        {{ form_row(register_form.UserIdentifier)}}
        {{ form_row(register_form.password)}}
        {{ form_row(register_form.confirm)}}
        {{ form_row(register_form.coversNumber)}}
        {{ form_row(register_form.foodAllergies)}}
                <input type="submit" value="Envoyer">
{{ form_end(register_form)}}
</div>
<p id="alert" class="text-success text-center fw-bold">Votre compte utilisateur a bien été créé, connectez-vous dès à présent !</p>
{% endblock %}
{% block javascript %}

<script src="{{ asset('scripts/register-script.js') }}"></script>

{% endblock %}
