{% extends 'base.html.twig' %}

{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="{{ asset('styles/carte-style.css') }}">     
    </head>
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}
    <main class="container-lg">
        <h1 class="text-center"><img src="{{asset('uploads/Logo_paint.jpg')}}" class="img-fluid" alt="Restaurant le Quai Antique, logo"> : La carte</h1>
        <div class="row mt-5 mb-3 text-center">
            {% for category in categories %}
            <h2 class="col-3"><a href="#{{ category.DISHEScategory }}">{{ category.DISHEScategory }}s</a></h2>
            {% endfor %}
        </div>
        <div>
            {% for category in categories %}
                <h3 id="{{ category.DISHEScategory }}" class="mt-5"><a href="/plats-entree">Les {{ category.DISHEScategory }}s</a><a href="#top"><img class="ms-5" width="25" src="./uploads/arrow.svg"></a></h3>

                {% for dishe in dishes %}
                    {% if dishe.DISHEScategory == category.DISHEScategory %}
                        <article><h4 class="ms-5">{{ dishe.DISHESname }} - <span class="price">{{ dishe.DISHESprice }}€</span></h4><p class="ms-5">{{ dishe.DISHESdescription }}</p></article>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
{% endblock %}