{% extends 'base.html.twig' %}

{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="{{ asset('styles/menu-style.css') }}">
    </head>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <main class="main mb-3">
        <h1 class="text-center"><img src="{{asset('uploads/Logo_paint.jpg')}}" class="img-fluid" alt="Restaurant le Quai Antique, logo"> : Nos menus</h1>
            <div class="container">
            <div class="row">
                {% for menu in menus %}
                <div class="col-sm-12 col-md-5 col-xxl card me-5">
                    <div class="card-body">
                        <h2 class="text-center card-title mb-2">{{ menu.name }}</h2>
                        <ul class="details">
                            <a href="{{path('entrées')}}" class="card-link mt-2"><li class="mainLi">Entrées</li></a>
                                <ul>
                            {% for dishe in menu.dishes %}
                                    {% if dishe.DISHEScategory == "Entrée" %}
                                    <li class="text-center"> {{ dishe.DISHESname }} </li>
                                    {% endif %}
                            {% endfor %}
                                </ul>
                            <a href="{{path('mainCourses')}}"><li class="mainLi mt-2">Plats</li></a>
                                <ul>
                            {% for dishe in menu.dishes %}
                                    {% if dishe.DISHEScategory == "Plat" %}
                                    <li class="text-center"> {{ dishe.DISHESname }} </li>
                                    {% endif %}
                            {% endfor %}
                                </ul>
                            <a href="{{path('desserts')}}"><li class="mainLi mt-2">Desserts</li></a>
                                <ul>
                            {% for dishe in menu.dishes %}
                                    {% if dishe.DISHEScategory == "Dessert" %}
                                    <li class="text-center"> {{ dishe.DISHESname }} </li>
                                    {% endif %}
                            {% endfor %}
                                </ul>
                        </ul>
                        <div class="card-footer">
                            <h3 class="text-center">Les formules</h3>
                        {% for formulesMenu in formulesMenus %}
                            {% if formulesMenu.menu.name == menu.name %}
                            <ul>
                                <li> {{ formulesMenu.name }}  :<span class="price">  {{ formulesMenu.price }}  €</span></li>
                            </ul>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
