{%  extends 'base.html.twig' %}
{% block stylesheets %}
  <head>
    <link rel="stylesheet" href="{{ asset('styles/book-style.css') }}">
  </head>
{% endblock %}
{% block title "Réserver - Le quai antique" %}
{% block body %}
  <div class="jumbotron text-center mt-4">
          <h1><img src="{{asset('uploads/Logo_paint.jpg')}}" alt="Restaurant le Quai Antique, logo">: Réserver</h1>
  </div>
  <main>
  <p class="text-center mt-3 intro">Afin de pouvoir vous accueillir dans les meilleures conditions, merci de procéder à une réservation en ligne</p>
    <div class="container form">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-xl-4">
            {{ form_start(booking_form)}}
                <div class="mt-4" id="form1">
                  <div class="text-center">
                      <img src="{{asset('uploads/1-square.svg')}}" width="60" alt="icone" class="mb-3 text-center">
                      {{ form_row(booking_form.BookSlotDate)}}
                      {{ form_row(booking_form.slotLunch)}}
                      <button type="button" id="btn1" class="btn btn-secondary mt-3 mb-3">Suite</button>
                  </div>
                </div>
                <p id="alert" class="text-danger text-center fw-bold">La réservation ne peut aboutir car nous ne sommes pas ouverts à l'heure souhaitée (nous ne prenons également plus de réservations dans l'heure précédant la fermeture)
                </p>
                <p id="alert1" class="text-danger text-center fw-bold">La réservation ne peut aboutir car la date de réservation souhaitée est passée
                </p>
                <p id="alert2" class="text-danger text-center fw-bold">Nous n'avons plus assez de disponibilités pour le service souhaité à cette date, désolé
                </p>
                <p id="alert3" class="text-danger text-center fw-bold">Veuillez compléter l'ensemble des champs
                </p>
                <button type="button" id="btn5" class="btn btn-secondary mb-3">Retour</button>
                <div id="form2">
                  <div class="text-center">
                    <img src="{{asset('uploads/2-square.svg')}}" width="60" alt="icone" class="mb-3 mt-3">
                    {{ form_row(booking_form.BookSlotUser)}}
                    {{ form_row(booking_form.BookSlotCovers )}}
                    {{ form_row(booking_form.BookSlotAllergies)}}
                    <button type="button" id="btn2" class="btn btn-secondary mb-3">Retour</button>
                    <button type="button" id="btn3" class="btn btn-secondary mb-3">Suite</button>  
                  </div>
                </div>
                <div id="form3">
                  <div class="text-center">
                    <img src="{{asset('uploads/3-square.svg')}}" width="60" alt="icone" class="mb-3 mt-3">
                      <div id="messages">
                        <p id="send">Cliquez sur <span class="fw-bold">"Envoyer"</span> pour confirmer votre réservation ou <span class="fw-bold">"Retour"</span> pour la modifier</p>
                        <button type="button" id="btn4" class="btn btn-secondary mb-3">Retour</button>
                      </div>
                      <div>
                        <input type="submit" id="submit" value="Envoyer" class="btn btn-success mb-3">
                      </div>
                  </div>
                </div>
            {{ form_end(booking_form)}}
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('scripts/booking-script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}