{%  extends 'base.html.twig' %}
{% block stylesheets %}
<head>
<link rel="stylesheet" href="{{ asset('styles/booking-style.css') }}">
</head>
{% endblock %}
{% block title "Réserver - Le quai antique" %}
{% block body %}
<div class="jumbotron text-center">
        <h1>Réserver</h1>
        <p>Afin de pouvoir vous accueillir dans les meilleures conditions, merci de procéder à une réservation en ligne</p>
</div>
<div class="container">
        {{ form_start(booking_form)}}
            <div id="form1">
              <img src="{{asset('uploads/1-square.svg')}}" alt="icone">
                {#{ form_row(booking_form.BOOKINGStimeslot)|date('H:i')}#}
                {#{ form_row(booking_form.OPENINGDAYSday)}#}
                {{ form_row(booking_form.BookSlotDate)}}
                {#{ form_row(booking_form.OpenLunch)}#}
                {{ form_row(booking_form.slotLunch)}}
                <button type="btn" id="btn1">suite</button>
            </div>
            <p id="alert" class="text-danger text-center fw-bold">Le créneau de réservation souhaité n'est pas disponible, reportez-vous aux horaires d'ouverture</p>
            <div id="form2">
              <img src="{{asset('uploads/2-square.svg')}}" alt="icone">
                {{ form_row(booking_form.BookSlotUser)}}
                {{ form_row(booking_form.BookSlotCovers )}}
                {{ form_row(booking_form.BookSlotAllergies)}}
                <button type="btn" id="btn2">retour</button>
                <input type="submit" id="submit" value="Envoyer">
            </div>
        {{ form_end(booking_form)}}
</div>
<div class="jumbotron">
        <img src="{{asset('uploads/bookings.jpg')}}" alt="table de restaurant">
</div>
{% endblock %}
{% block javascript %}

<script src="{{ asset('scripts/booking-script.js') }}"></script>

{% endblock %}