{%  extends 'base.html.twig' %}

{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="{{ asset('styles/galerie-style.css') }}">
    </head>
{% endblock %}


{% block title %} "Nos poissons - La galerie photo"{% endblock %}

{% block body %}
    <main class="container">
        <div class="jumbotron text-center">
                <h1 class="text-center"><img src="{{asset('uploads/Logo_paint.jpg')}}" alt="Restaurant le Quai Antique, logo"> : Nos poissons - la galerie photo</h1>
        </div>
        <div class="row mt-5">   
            {% for poisson in poissons %}
            {% if poisson.DISHESphoto %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-4 mt-2">
                        <img class="img-fluid" src="{{ asset('uploads/' ~ poisson.DISHESphoto)}}" alt="{{ poisson.DISHESname }}">
                            <div class="description">
                                </br>
                                </br>
                                </br>
                                <h2>{{ poisson.DISHESname }}</h2>
                                <p>{{ poisson.DISHESdescription }}</p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <a href="{{path('book')}}"><button type="button" class="btn btn-lg btn-warning align-center mb-3 border border-dark">Réserver</button></a>
                                </div>
                            </div>
                    </div>
                </div>  
            {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}