<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Quai Antique{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/muli" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/metamorphous" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/base-style.css') }}">
        <link rel="icon" type="Logo miniature" href="uploads/Logo_min.png"/>  
        {% block stylesheets %}
                      
        {% endblock %}
    </head>
    <body>
        <div class="pre-nav">
          <div class="row navbar navbar m-0 justify-content-center flex-wrap">
              <div class="col-sm-12 col-lg-5 address p-0  justify-content-around d-flex">
                <div class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    <a href="tel:+3321110700" class="text-white">03-21-11-07-00</a>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <a href="https://www.google.com/maps/place/restaurant+l'Antique/@45.048325,4.4403226,10z/data=!4m10!1m2!2m1!1srestaurant+antique!3m6!1s0x47f54d7773598825:0xabd550b24b61ced1!8m2!3d45.048325!4d5.0500638!15sChJyZXN0YXVyYW50IGFudGlxdWVaFCIScmVzdGF1cmFudCBhbnRpcXVlkgERZnJlbmNoX3Jlc3RhdXJhbnTgAQA!16s%2Fg%2F1tf429m0" class="mb-0 p-1 text-white" target="_blank">3, rue de l'Abbaye à Chambéry</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-2 p-0 d-flex justify-content-center">
                    <a href="{{path('book')}}"><button type="button" class="btn btn-warning">Réserver</button></a>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-5 p-0">  
                {% if app.user %}
                    <div class="mb-2 mb-lg-0 d-flex justify-content-around">
                        <div>{{ app.user.UserIdentifier }}</div>
                        <div><a class="nav-link me-3 p-0 {% if current_menu is defined and current_menu == 'seconnecter' %}active{% endif %}" aria-current="page" href="{{path('logout')}}">Se déconnecter</a>
                        </div>
                    </div>
                {% else %}
                    <div class="me-auto mb-2 mb-lg-0 d-flex justify-content-center">
                        <div><a class="nav-link {% if current_menu is defined and current_menu == 'seconnecter' %}active{% endif %}" aria-current="page" href="{{path('login')}}">Se connecter</a>
                        </div>
                    </div>
                {% endif %}
              </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark navbarMain p-0">
            <div class="container p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse row d-flex" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-12 justify-content-around">
                            <li class="nav-item">
                                <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" aria-current="page" href="{{path('home')}}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_menu is defined and current_menu == 'carte' %}active{% endif %}" aria-current="page" href="{{path('carte')}}">La carte</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if current_menu is defined and current_menu == 'plats' %}active{% endif %}" aria-current="page" href="{{path('plats')}}" role="button" id="dropdownMenuLink" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">Photos</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{path('entrées')}}">Entrées</a></li>
                                            <li><a class="dropdown-item" href="{{path('spécialités')}}">Spécialités</a></li>
                                            <li><a class="dropdown-item" href="{{path('viandes')}}">Viandes</a></li>
                                            <li><a class="dropdown-item" href="{{path('poissons')}}">Poissons</a></li>
                                            <li><a class="dropdown-item" href="{{path('desserts')}}">Desserts</a></li>
                                        </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_menu is defined and current_menu == 'menus' %}active{% endif %}" aria-current="page" href="{{path('menus')}}">Nos menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_menu is defined and current_menu == 'sinscrire' %}active{% endif %}" aria-current="page" href="{{path('sinscrire')}}">S'inscrire</a>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" aria-current="page" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{path('plats_admin')}}">Enregistrer un plats</a></li>
                                            <li><a class="dropdown-item" href="{{path('resa_admin')}}">Réservations à venir</a></li>
                                            <li><a class="dropdown-item" href="{{path('plats')}}">Plats - suppr. / modif.</a></li>
                                            <li><a class="dropdown-item" href="{{path('horaires')}}">Gérer les horaires</a></li>
                                        </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        {% block javascript %} 
            <script src="{{ asset('scripts/script.js') }}"></script>
        {% endblock %}
        <footer class="footer">
            <div class="container-fluid p-0">
                <div class="row justify-content-center text-center m-0">
                    {% for horaire in horaires|sort((a, b) => a.orderDay <=> b.orderDay) %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1 p-0">
                            <p class="tables" id={{ '' ~ horaire.id }}>{{ horaire.coversPossible }}</p>
                            <p class="day m-1">{{ horaire.OPENINGDAYSday }}</p>                        
                                <div>
                                    <p class="m-1">{% if horaire.OpenLunch and horaire.closelunch %}<span id={{ 'openLunch' ~ horaire.id }}>{{ horaire.OpenLunch|date('H:i')}}</span> - <span id={{ 'closeLunch' ~ horaire.id }}>{{ horaire.closelunch|date('H:i')}}</span> {% else %} Fermé le midi {% endif %}</p>
                                    <p class="m-1">{% if horaire.OpenDinner and horaire.closedinner %}<span id={{ 'openDinner' ~ horaire.id }}>{{ horaire.OpenDinner|date('H:i')}}</span> - <span id={{ 'closeDinner' ~ horaire.id }}>{{ horaire.closedinner|date('H:i')}}</span> {% else %} Fermé le soir {% endif %}</p>
                                </div>
                        </div>
                    {% endfor %}  
                </div>
                <div class="rs">
                        <a href="http://www.twitter.com"><img src="{{asset('uploads/twitter.svg')}}" width="25" alt="Logo twitter" class="me-2"></a>
                        <a href="http://www.facebook.com"><img src="{{asset('uploads/facebook.svg')}}" width="25" alt="Logo Facebook" class="me-2"></a>
                </div>
            </div>
        </footer>
    </body>
</html>
